.main{
    display: flex;
    justify-content: space-around;
}

.buttonsBlock{
    align-content: space-evenly;
    position: static;
    display: grid;
    height: 250px;
}

textarea{
    border: solid;
    border-radius: 15px;
    border-block-width: 3px;
}
p{
    font-size: 25px;
    font-style: oblique;
}

/* CSS */
.escape {
  align-items: center;
  background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-family: "Codec cold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  justify-content: center;
  letter-spacing: .4px;
  line-height: 1;
  width: 200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.escape:hover{
    zoom: 105%
}

.unescape {
    align-items: center;
    background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
    border: 0;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "Codec cold",sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 40px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .unescape:hover{
      zoom: 105%
  }



